*.bridgesupport
.DS_Store
project/*
*.dat
*~
*.cmake
apps/Aa/.datc360.000
bin/*
CMakeFiles*
Makefile
lib/Makefile
apps/Tests/Makefile
lib/liblifeline.a
CMakeCache.txt
cmake_install.cmake
apps/Tests/cmake_install.cmake
lib/cmake_install.cmake
geomoments.txt
